<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div><label> </label></div>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
  <div><label> User Name : <input type="text" th:field="*{username}"/> </label></div>
  <div><label> Password: <input type="password" th:field="*{password}"/> </label></div>
  <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>